@model HalloDoc.DbEntity.Models.AspNetUser
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}


<div class="container-fluid main-container">
    <div class="P-Login-main-container">
        <div class="row vw-100">

           
            <div class="vh-100 d-flex justify-content-between flex-column">

                <div class="icon d-flex w-100 justify-content-end mt-2">
                    <button onclick="DarkMode()" class="border-info rounded-1 bg-transparent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon text-info" id="moon" viewBox="0 0 16 16">
                            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high text-info" id="sun" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                        </svg>
                    </button>
                </div>

                <div class="main-content col-lg-4 col-sm-6 m-auto" >
                    <div class="image mb-3 d-flex align-items-center justify-content-center">
                        <img src="~/images/Fig56._Patient_site_1.png">
                    </div>
                    <h3 class="text-center mt-5 mb-4" id="heading">Login To your account</h3>

                    <form asp-action="AdminLogin" class="d-flex flex-column align-items-center">

                        <div class="form-floating">
                            <input asp-for="Email" type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                            <label asp-for="Email" for="floatingInput" id="username-input">Email</label>
                            <div class="P-Login-input-icon bg-transparent border-0 position-absolute mt-3">
                                <img src="~/images/person-circle.svg" alt="">
                            </div>
                        </div>
                        <div class="form-floating ">
                            <input asp-for="PasswordHash" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                            <label asp-for="PasswordHash" for="floatingPassword">Password</label>
                            <div class="P-Login-input-icon bg-transparent border-0 position-absolute me-2 d-flex justify-content-center align-items-center mt-2" onclick="showhide()">
                                <img src="~/images/eye.svg" id="eye"
                                     alt="">
                            </div>
                        </div>
                        <button class="login-btn rounded bg-info mt-3">Login</button>
                    </form>
                    <a asp-action="PatientResetPw" class="forgot-link mt-2 d-flex justify-content-center text-decoration-none text-info">Forgot Password?</a>


                </div>

                <div class="d-flex justify-content-center">
                    <p class="mt-4 " id="terms">Terms of Condition <span class="vr"></span> Privacy Policy</p>
                </div>

            </div>

        </div>
    </div>
</div>


<script>
    function load() { 
        
        var light = localStorage.getItem("light");
        if (light == 0) {
            document.body.setAttribute('data-bs-theme', 'dark');
            document.getElementById('moon').classList.add('d-none');
            document.getElementById('sun').classList.remove('d-none');
        }
        else {
            document.body.setAttribute('data-bs-theme', 'light');
            document.getElementById('moon').classList.remove('d-none');
            document.getElementById('sun').classList.add('d-none');
        }
    }
    //var light = 1;
    function DarkMode() {
        let light = localStorage.getItem("light");
        if (light == 1) {
            document.body.setAttribute('data-bs-theme', 'dark');
            document.getElementById('moon').classList.add('d-none');
            document.getElementById('sun').classList.remove('d-none');
            localStorage.setItem("light", 0);
        }
        else {
            document.body.setAttribute('data-bs-theme', 'light');
            document.getElementById('moon').classList.remove('d-none');
            document.getElementById('sun').classList.add('d-none');
            localStorage.setItem("light", 1);
        }
    }

    let size = 0;
    function showhide() {

        icon = document.getElementById("eye");
        pw = document.getElementById("floatingPassword");
        if (size == 0) {
            pw.type = "text";
            icon.src = "/images/eye-slash.svg";
            size = 1;
        }
        else {
            pw.type = "password";
            icon.src = "/images/eye.svg";
            size = 0;

        }
    }


</script>