<div class="modal fade" id=Support tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Request Support</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>To all unscheduled physicians : we are short on coverage and needs additional support on call to respond to request.</p>
                    <div class="form-floating mb-1">
                        <textarea class="form-control" placeholder="Message"
                                  id="floatingTextarea2" style="height: 100px"></textarea>
                        <!-- give margin left 1 rem in css to label -->
                        <label class="ms-2  " for="floatingTextarea2">
                            Message
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-end mx-3 mb-2">
                    <a><button type="submit" class="btn btn-outline-info me-2">Send</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
