@model HalloDoc.DbEntity.ViewModel.AdminDashboardVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="bg-body-tertiary vh-100 d-flex flex-column">
    <partial name="_AdminHeaderDashboard" />
    <div class="" id="main-div">
    </div>
</div>

