@model HalloDoc.DbEntity.ViewModel.AdminDashboardVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";

}
@if (TempData["message"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" />
    <script type="text/javascript">
        toastr.success("@TempData["message"]");
    </script>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="vh-100 d-flex flex-column">
    <partial name="_AdminHeaderDashboard" />
    <div class="" id="main-div">
    </div>
</div>

<script>
    function load() {

        $.ajax({
            url: '/Admin/NavTabs',
            method: 'GET',
            data: { nav: 1 },

            success: function (response) {
                $('#main-div').html(response);
            },
            error: function (error) {
                console.log(error);
                console.error('Error in AJAX', error);
            }

        });



        var light = localStorage.getItem("light");
        if (light == 0) {
            document.body.setAttribute('data-bs-theme', 'dark');

        }
        else {
            document.body.setAttribute('data-bs-theme', 'light');

        }


        const phoneInputField = document.getElementsByClassName("phone");
        for (let i = 0; i < phoneInputField.length; ++i) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
        }

    }

    function tab(val) {
        if (val == 4) {
            document.getElementById('Providers-tab').classList.add('active');
            const element = document.getElementsByClassName('text-muted');
            for (var i = 0; i < element.length; i++) {
                element[i].classList.remove('active');
            }
        }
        else {
            document.getElementById('Providers-tab').classList.remove('active');

        }
        $.ajax({
            url: '/Admin/NavTabs',
            method: 'GET',
            data: { nav: val },

            success: function (response) {
                $('#main-div').html(response);
            },
            error: function (error) {
                console.log(error);
                console.error('Error in AJAX', error);
            }
        });
    };
</script>
